@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="index-container">
<div id="app-index-header">
    <h1 id="index-h1">NFL App</h1>
    <p id="index-p">Learn about NFL players and teams !</p>
</div>
</div>
